body,
p,
h1,
ul,
li,
blockquote,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Vollkorn", Georgia, serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  border-radius: 5px;
}

/* Grid Geral*/

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content anuncios"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.content {
  grid-area: content;
}

.anuncios {
  grid-area: anuncios;
}

.footer {
  grid-area: footer;
}
